.footer {
    background: #222;
    color:#FFF;
    padding: 3em;
    text-align: center;
    top: auto;
    width: 100%;
    height: 10em;
}

.social-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social-list li {
    margin: 0 1em;
    transition: 0.5s ease-in-out;
}

.social-list li:hover {
    color: #FFC107;
    cursor: pointer;
}

.social-list li ion-icon {
    font-size: 1.5em;
}
.copy-right {
    margin-top: 2em;
}

.copy-right span {
    font-weight: bold;
    color: #FFBB33;
}
